<%= render partial: "layouts/page_title", locals: { page_title: "All Meals" } %>

<div class="table-responsive">
  <table class="table table-striped">

    <tr>
      <th></th>
      <th>Meal</th>
      <th>Description</th>
      <th>Price</th>
      <th>Status</th>
      <th>Edit Meal</th>
    </tr>
    <tr>
      <% @items.each do |item| %>
        <td><%= link_to image_tag(item.image_url, height: 80, width: 80,
        class: "img-circle"), meal_path(item) %></td>
        <td><%= link_to item.name, meal_path(item) %></td>
        <td><%= item.description %></td>
        <td>$<%= item.price %></td>
        <td><%= item.status %></td>
        <td><%= link_to "Edit", edit_admin_item_path(item) %></td>
        </tr>
      <% end %>
  </table>
