<header id="profile-header" style="background: url(<%= image_path(@photographer.header.url(:xlarge, timestamps: false)) %>) no-repeat center center">
  <div class="container">
    <div class="row">
      <%= image_tag @photographer.avatar.url(:thumb, timestamps: false),
                    class: "img-circle" %>
      <h1><%= @photographer.name %></h1>

      <h3><%= @photographer.email %></h3>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <h1><%= @category.name.capitalize %></h1>

    <div class="photos-list">
      <div class="row">
        <div class="col-md-3">
          <%= render partial: "layouts/category_list" if @category %>
        </div>

        <div class="col-md-9">
          <%= render partial: "layouts/photos_index" %>
        </div>
      </div>
    </div>
  </div>
</div>
