<div class="container">
  <%= render partial: "layouts/flash_message" %>
  <div class="row mt-100">
    <div class="col-lg-8 col-md-offset-2">

      <h1>Sign up</h1>
      <br>
      <div class="create-user-form">
        <%= form_for(@user,
                     html: { multipart: true },
                     url: sign_up_path) do |f| %>

          <%= render partial: "shared/errors", locals: { object: @user } %>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name,
                             class: "form-control",
                             placeholder: "Name" %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email,
                             class: "form-control",
                             placeholder: "Email" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password,
                                 class: "form-control",
                                 placeholder: "Password" %>
          </div>

          <div class="form-group">
            <%= f.label :avatar %>
            <%= f.file_field :avatar, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :header, "Header Image" %>
            <%= f.file_field :header, class: "form-control" %>
          </div>

          <br>

          <div class="form-group">
            <%= f.submit "Create account", class: "btn btn-primary" %>
          </div>

        <% end %>

        <div class="new-account pull-right">
          <h5><%= link_to "Already have an account?", login_path, class: "sign-up" %></h5>
        </div>
      </div>
    </div>
  </div> <!-- ./row -->
</div> <!-- ./container -->
