<div class="create-user-form">
  <%= form_for(@user, url: sign_up_path) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <br/>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br/>
      <%= f.submit "Sign Up" %>
  <% end %>
</div>
