<h1><%= current_user.name.capitalize %>'s Profile</h1>

<div class="row">
  <div class="col-md-3"><h4>Account Information</h4></div>
  <div class="col-md-9"></div>
</div>

<div class="table-responsive">
  <table class="table table-striped profile">

    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
    <tr class="user-info">
      <td><%= current_user.name.capitalize %></td>
      <td><%= current_user.email %></td>
      <td><%= link_to "Edit profile", profile_edit_path(id: current_user.id) %></td>
    </tr>
  </table>

  <div class="col-md-9">
    <div class="row item-info item-list">

      <% @photos.each do |photo| %>
        <div class="col-sm-4 col-lg-4 col-md-4 item-box">
          <div class="thumbnail">
            <%= image_tag(
                    photo.image_url,
                    height: 80,
                    width: 80,
                    class: "img")%>
            <%= link_to photo.name, photo_path(photo) %>
            <div class="caption">
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

