<div class="row individual-photographer">
    <div class="col-md-2">

      <%= image_tag photographer.avatar.url(:thumb, timestamps: false), alt: photographer.name %>
      <%= link_to photographer.name, photographer_photos_path(photographer: photographer.url) %>
      <%= link_to photographer.email, photographer_photos_path(photographer: photographer.url) %>
    </div>
    <div class="pull-right">

    <% photographer.sample_photos.each do |photo| %>
      <a href="<%= photographer_path(photo) %>"><%= image_tag photo.image.url(:thumb) %></a>
    <% end %>
  </div>
</div>
