<%= render partial: "layouts/page_title", locals: { page_title: "#{@order.first.customer_name}'s Order" } %>
<%= render partial: "layouts/flash_message" %>

<div class="row">
  <!-- Grid being used for spacing maybe try to do it with sass in view refactor -->
  <div class="col-md-3"><h4>Details:</h4></div>
  <div class="col-md-9"></div>
</div>

<div class="table-responsive">
  <table class="table table-striped orders">

    <tr>
      <th>Order Number</th>
      <th>Total</th>
      <th>Order Completed</th>
    </tr>

    <% @order.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.total %></td>
        <td><%= order.created_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
      </tr>
    <% end %>
  </table>

</div>
