<br><br><h1><%= "Order ##{@order.id}" %></h1>

<div class="row">
  <div class="col-md-3">
    <h3>Status: <%= @status.name %></h3>
    <h3>Items:</h3>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped order">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Last Updated</th>
      <th></th>
    </tr>

    <% @order.order_photos.each do |order_photo| %>
      <tr>
        <td><%= link_to image_tag(
                            order_photo.image_url,
                            height: 80,
                            width: 80,
                            class: "img"
                        ),
                        photo_path(order_photo.photo_id) %></td>
        <td><%= link_to order_photo.name, photo_path(order_photo.photo_id) %></td>
        <td><%= number_to_currency(order_photo.price) %></td>
        <td><%= order_photo.updated_at %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="total">
  <h3>Total: $<%= @order.total %></h3>
</div>

<%= link_to "Your Orders", orders_path(current_user) %>


<%# if current_user.roles.include?("registered user") && @order.status == "Ordered" || @order.status == "Paid" %>
<!--Change Status:-->
<%#= form_for [:admin, @order] do |f| %>
<%#= f.collection_select(:status, Status.all, :id, :name, { selected: @order.status_id }) %>
<%#= f.submit "Update Order Status" %>
<%# end %>
<%# else %>

<%#= @order.status %> <br/>
<%#= link_to "Your Orders", orders_path(current_user) %>
<%# end %>
