<div class="container">
  <div class="row mt-60 mb-80">
    <div class="col-md-6">
      <div class="thumbnail">
        <%= image_tag @photo.image.url(:large), class: "img-responsive" %>
      </div>
    </div>
    <div class="col-md-6">
      <h1>Edit Photo</h1>
      <div class="edit-photo-form">
        <%= form_for [@photographer, @photo], html: { multipart: true },
                     url: photographer_photo_path(@photo,
                                    photographer: @photographer.url),
                     class: "col-md-8 col-md-offset-2" do |f| %>

          <%= render partial: "shared/errors", locals: { object: @photo } %>

          <div class="form-group">
            <%= f.label :name, "Title" %>
            <%= f.text_field :name, class: "form-control", placeholder: "Title" %>
          </div>

          <div class="form-group">
            <%= f.label :category, "Category" %><br>
            <%= f.collection_select(:category_id, Category.all, :id, :name)  %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description,
                            rows: "4",
                            class: "form-control",
                            placeholder: "Description" %>
          </div>

          <div class="form-group">
            <%= f.label :price %>
            <%= f.number_field :price,
                               class: "form-control",
                               placeholder: "Price" %>
          </div>
          <br>
          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        <% end %>
        <div class="delete-photo pull-right">
          <%= link_to "Delete photo",
                      photographer_photo_path(@photo,
                                photographer: @photographer.url),
                      method: :delete, class: "btn btn-primary" %>
        </div>

      </div>

    </div>
  </div>
</div>
