<%= render partial: "stores/header" %>

<div class="container">
  <div class="row">
    <h1>Photos</h1>

    <div class="items-list">
      <div class="row">
        <div class="col-md-3">
          <%= render partial: "layouts/category_list" %>
        </div>

        <div class="col-md-9">
          <% if current_user && current_user.store_admin? && current_user.store_id == @photographer.id %>
            <%= link_to "Upload photo to portfolio",
                        new_photographer_photo_path(store: @photographer),
                        class: "btn btn-primary" %>
          <% end %>
          <%= render partial: "layouts/photos_index" %>
          <%= will_paginate @photos %>
        </div>
      </div>
    </div>
  </div>
</div>
