<div>
  <h1>Guest's Shopping Cart</h1>
</div>

<div>
  <h2>Order Details:</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <% @cart_items.each do |cart_item| %>
      <td><%= cart_item.name %></td>
      <td><%= cart_item.description %></td>
      <td><%= cart_item.price %></td>
      <td><%= image_tag cart_item.image_url %></td>
      <td><%= button_to "-", cart_items_path %>
        <%= cart_item.quantity %>
        <%= button_to "+", cart_items_path %>
      </td>
      </tr>
    <% end %>
  </table>
</div>
<div>

</div>
<div>
  <h3>Subtotal:
    <% total_price = @cart_items.map do |cart_item| %>
      <% cart_item.price %>
    <% end %>
    <%= total_price.reduce(:+) %></h3>

</div>
<%= button_to "Checkout", root_path %>
