<%= render partial: "layouts/page_title", locals: { page_title: "All Meals" } %>
<%= render partial: "layouts/flash_message" %>

<div class="items-list">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <%= link_to "Full Menu", "menu", class: "list-group-item" %>
        <%= link_to "Breakfast", "menu/breakfast", class: "list-group-item" %>
        <%= link_to "Lunch", "menu/lunch", class: "list-group-item" %>
        <%= link_to "Dinner", "menu/dinner", class: "list-group-item" %>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row item-info">

        <% @items.each do |item| %>
          <div class="col-sm-4 col-lg-4 col-md-4 item-box">
            <div class="thumbnail">
              <%= link_to image_tag(item.image_url, alt: "image url", class: "item-image"), meal_path(item) %>
              <div class="caption">
                <h4 class="pull-right"><%= number_to_currency(item.price) %></h4>
                <h4>
                  <%= link_to item.name, meal_path(item) %>
                </h4>
                <p>
                  <%= item.description %>
                </p>
              </div>
              <p>
                <%= button_to "Add to Cart", cart_items_path(item_id: item.id), method: :post, class: "btn btn-primary btn-large center-block" %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
