<div class="items-list">
  <h1>All Meals</h1>

  <div id="item-box">
    <% @items.each do |item| %>
        <%= link_to item.name, item_path(item) %> | $<%= item.price %> | <%= item.description %>
        <%= image_tag(item.image_url, alt: "image url", class: "item-image") %>
    <% end %>
  </div>

  <%= link_to "Cart", cart_path %>
</div>

