<%= render partial: "layouts/page_title", locals: { page_title: "Meal" } %>

<div class="row item-show">
  <div class="col-md-3 item-info">
    <p class="lead"><%= @item.name %>

      <p><strong>Description</strong><br><%= @item.description %></p>
      <h4>$<%= @item.price %></h4>
      <%= button_to "Add to Cart", cart_items_path %></p>
  </div>

  <div class="col-md-9">

    <div class="thumbnail">
      <%= image_tag @item.image_url, class: "img-responsive" %>
      <div class="caption-full">
      </div>
    </div>
  </div>
</div>
