<div class="container">
  <div class="row mt-20 mb-40">
    <div class="row item-show">
      <div class="col-md-10 col-md-offset-1">
        <div class="thumbnail">
          <%= image_tag @photo.image.url(:large), class: "img-responsive" %>
        </div>
      </div>
    </div> <!-- ./row -->
    <div class="row item-info photo-description">
      <h3 class="col-md-3 col-md-offset-1 lead">
        <%= @photo.name %>
      </h3>
    </div> <!-- ./row -->
    <div class="row photo-description">
      <p class="col-md-7 col-md-offset-1">
        <strong>Description:</strong><br>
        <%= @photo.description %>
      </p>
      <div class="col-md-3 col-md-offset-1 cart-button">
        <h4><%= number_to_currency(@photo.price) %></h4>
      <% if current_user && current_user.store_id == Photo.find(params[:id].to_i).store_id %>
        <%= link_to "Edit photo",
                     edit_photographer_photo_path(@photo,
                                       photographer: photographer.url), 
                     class: "btn btn-primary"%>
      <% else %>
        <%= button_to "Add to cart", cart_photos_path(photo_id: @photo.id),
                                                       class: "btn btn-primary" %>
      <% end %>
      </div>
    </div> <!-- ./row -->
  </div> <!-- ./row -->
</div> <!-- ./container -->
