<%= render partial: "layouts/page_title", locals: { page_title: "Meal" } %>

<div class="row item-show">
  <div class="col-md-3 item-info">
    <p class="lead">
      <%= @photo.name %>
      (<%#= link_to @photo.category.name, menu_category_path(@photo.category.name) %>)
    </p>
      <p><strong>Description:</strong><br>
        <%= @photo.description %>
      </p>
      <h4><%= number_to_currency(@photo.price) %></h4>
      <%= button_to "Add to Cart", cart_items_path(item_id: @photo.id), class: "btn btn-primary" unless @photo.retired? %>
  </div>

  <div class="col-md-9">

    <div class="thumbnail">
      <%= image_tag @photo.image_url, class: "img-responsive" %>
    </div>
  </div>
</div>
