<%= render partial: "layouts/page_title", locals: { page_title: @category.name } %>

<div class="category-view">
  <%= @category.name %>

  <div class="items-list">
    <ul>
      <div id="item-box">
        <% @category.items.each do |item| %>
          <%= link_to item.name, meal_path(id: item.id) %> | $<%= item.price %> | <%= item.description %>
          <%= image_tag(item.image_url, alt: "image url", class: "item-image") %>
        <% end %>
      </div>
    </ul>
  </div>
</div>
