<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="logo"><%= image_tag 'imagine.png' %></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Explore", explore_path %></li>
        <li><%= link_to "Photographers", photographers_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user && current_user.registered_user? %>
          <%= render "layouts/registered_user_navbar" %>
        <% end %>
        <% if current_user && current_user.store_admin? %>
          <%= render "layouts/store_admin_navbar" %>
        <% end %>
        <% if !current_user %>
          <li><%= link_to "Sign in", login_path %></li>
        <% end %>
        <li><%= link_to "Cart", cart_path %></li>
      </ul>
    </div>
    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</nav><!-- /.navbar -->
